<div class="container mt-4">

    <h2>Library Books</h2>

    <app-search-bar 
        (searchEvent)="onSearch($event)">
    </app-search-bar><br><br>

    <div class="alert alert-danger" 
      role="alert" 
      *ngIf="books.length==0">
        No book available
    </div>

    <ul class="list-group">
      <div *ngFor="let book of books; let i = index" class="list-group-item">
        <a [routerLink]="['/books', book.id]">
            {{i+1}} - {{ book.title }} by {{ book.author }} - {{book.publicationYear}}
        </a>
    </div>
    </ul>

  </div>
